.contact{
    padding: 125px 0;
    background-color: #fff;
}
/* background svg */
.content svg{
    background-color: #fff;
    padding: 0 15px;
    position: relative;
}
/* draw line beside star >> div content */
.content h1{
    position: relative;
    color: #2b3d4f;
}
.content h1::before{
    position: absolute;
    content: "";
    margin: 0 auto;
    top: 72px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 4px;
    background-color: #2b3d4f;
}
.content .fa-star.svg{
    color: #2b3d4f;
}
/* form */
.contact-card .user-input input{
    border: 0;
    border-bottom: 1px solid #e4e4e4;
}
