<div class="contact text-center">
    <div class="container">
        <div class="row">
            <!-- content -->
            <div class="content">
                <h1 class="fw-bold pb-2">CONTACT SECTION</h1>
                <i class="fa-solid fa-star h6 pb-2"></i>
                <div class="contact-card m-auto col-7">
                    <div class="user-input username mt-5">
                        <input type="text" class="form-control" placeholder="userName" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="user-input userage mt-4">
                        <input type="text" class="form-control" placeholder="userAge" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="user-input usermail mt-4">
                        <input type="email" class="form-control" placeholder="userEmail" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="user-input userpass mt-4">
                        <input type="password" class="form-control" placeholder="userPAssword" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="button text-start">
                        <a href="#" class="btn btn-secondary mt-3">Send Message</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
  </div>
