<!-- top footer -->
<div class="top-footer d-flex flex-column flex-md-row">
    <!-- location -->
    <div class="location text-white col-md-4">
        <h3 class="fw-bold">LOCATION</h3>
        <div class="location-body">
            <h6 class="fw-light pb-1">2215 John Daniel Drive</h6>
            <h6 class="fw-light">Clark, MO 65243</h6>
        </div>
    </div>

    <!-- social -->
    <div class="social text-white col-md-4 pt-md-0 pb-md-0 pt-3 pb-3">
        <h3 class="fw-bold">AROUND THE WEB</h3>
        <div class="social-body">
            <a href="#" class="text-decoration-none text-white p-1"><i class="fa-brands fa-facebook h5 p-2"></i></a>
            <a href="#" class="text-decoration-none text-white p-1"><i class="fa-brands fa-twitter h5 p-2"></i></a>
            <a href="#" class="text-decoration-none text-white p-1"><i class="fa-brands fa-linkedin-in h5 p-2"></i></a>
            <a href="#" class="text-decoration-none text-white p-1"><i class="fa-solid fa-globe h5 p-2"></i></a>
        </div>
    </div>

    <!-- about -->
    <div class="about text-white col-md-4">
        <h3 class="fw-bold">ABOUT FREELANCER</h3>
        <div class="about-body">
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
    </div>
</div>