<!-- start navbar component -->
<app-navbar></app-navbar>
<!-- end navbar component -->

<!-- start home, about, portfolio, contact components -->
 <div class="router-content">
    <router-outlet></router-outlet>
 </div>
<!-- end home, about, portfolio, contact components -->

<!-- start top footer component -->
<div class="top-footer">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <app-top-footer></app-top-footer>
      </div>
    </div>
  </div>
</div>
<!-- end top footer component -->

<!-- start footer component -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
<!-- end footer component -->
