/* start router outlet component */
.router-content{
    background-color: #1abd9c;
}
/* end router outlet component */

/* start top footer component */
.top-footer{
    background-color: #2b3d4f;
}
/* end top footer component */

/* start footer component */
.footer{
    background-color: #19242e;
}
/* end footer component */