<!-- register -->
 <section class="register py-5">
    <h2 class="text-main py-3">Register Now : </h2>
    <form action="" [formGroup]="register" (ngSubmit)="regSubmit()">
        <!-- name input -->
        <div class="name py-3">
            <label for="name">Name : </label>
            <input type="text" id="name" class="form-control bg-main-light" formControlName="name">
        </div>
        <!-- email input-->
        <div class="email py-3">
            <label for="email">E-mail : </label>
            <input type="email" id="email" class="form-control bg-main-light" formControlName="email">
        </div>
        <!-- password input -->
        <div class="pass py-3">
            <label for="password">Password : </label>
            <input type="password" id="password" class="form-control bg-main-light" formControlName="password">
        </div>
        <!-- repassword input -->
        <div class="rePass py-3">
            <label for="rePassword">rePassword : </label>
            <input type="password" id="rePassword" class="form-control bg-main-light" formControlName="rePassword">
        </div>
        <!-- phone -->
        <div class="phone py-3">
            <label for="phone">Phone : </label>
            <input type="tel" id="phone" class="form-control bg-main-light" formControlName="phone">
        </div>

        <button type="submit" class="btn btn-main ms-auto d-block mt-3">Register</button>
        
    </form>
 </section>
