<!-- home -->
 <div class="home text-center">
    <h1 class="text-white">Home Page</h1>
    <button class="btn btn-primary" #reco>Show More >> </button>
 </div>

 <div class="child">
  <a href="www.google.com" target="_blank" class="btn btn-primary" #child>Google</a>
 </div>

  <app-recommend>
    <div class="content-porj p-3 bg-danger text-center text-white">
      <h6>Moooooooooooo</h6>
      <h4>Hoooooooooooo</h4>
      <h6>Moooooooooooo</h6>
      <h4>Hoooooooooooo</h4>
      <h6>Moooooooooooo</h6>
      <h4>Hoooooooooooo</h4>
      <h6>Moooooooooooo</h6>
    </div>
  </app-recommend>

